@import "tailwindcss";


@font-face {
  font-family: Lmf_sueakrong-Regular;
  src: url("../src/font/Lmf_sueakrong-Regular.ttf") format(opentype);
}

@theme{
  --font-family-Regular: "Lmf_sueakrong-Regular", sans-serif;

  /* กำหนดการเคลื่อนที่ (Keyframes) */
  @keyframes scroll-long {
    0% { transform: translate(-50%, 0); opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { transform: translate(-50%, 25px); opacity: 0; }
  }

  /* สร้างชื่อ Animation ไว้เรียกใช้ */
  --animate-scroll-down: scroll-long 2s cubic-bezier(0.76, 0, 0.3, 1) infinite;
}


